<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
      Home
    </ion-tab-button>
    <ion-tab-button tab="search">
      <ion-icon name="search-circle-outline"></ion-icon>
      Search
    </ion-tab-button>
    <ion-tab-button tab="cart">
      <ion-icon name="cart-outline"></ion-icon>
      Cart
    </ion-tab-button>
    <ion-tab-button tab="account">
      <ion-icon name="accessibility-outline"></ion-icon>
      Account
    </ion-tab-button>
  </ion-tab-bar>
  <ion-router-outlet></ion-router-outlet>
</ion-tabs>
